:root {
  --off-white: #fafafa;
}

.section-content {
  padding: 180px;
  width: 1100px;
}
.section-text {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: bolder;
  position: relative;
  left: -40px;
}

.icon {
  margin: 20px;
  position: relative;
  top: -20px;
  left: -60px;
}

.image {
  position: relative;
  top: 70px;
  padding: 310px;
  object-fit: cover;
}
